/*/////////////////////////
NAVBAR
//////////////////////////*/
.navbar {
    margin-bottom: 0;
}

/*/////////////////////////
JUMBOTRON
//////////////////////////*/
.jumbotron {
    margin-bottom: 0;
}

/*/////////////////////////
BLOCKS
//////////////////////////*/
.iconhere {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-color: #fff;
}

#mac,#windows,#online,#mobile {
    height: 430px;
    margin: 0;
}

#mac {
    background-color: #235E80;
}

#windows {
    background-color: #215570;
}

#online {
    background-color: #316B8D;
}

#mobile {
    background-color: #1E475B;
}

.btn {
    background-color: #3B7FA3;
    color: #fff;
    width: 120px;
    border: 2px #fff solid;
    border-radius: 5px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #fff;
    color: #3B7FA3;
    border: 2px #3B7FA3 solid;
}

/*/////////////////////////
FOOTER
//////////////////////////*/
#footer {
    background-color: #4787AD;
}

h1 {
    padding-top: 30px;
}

#p3 {
    padding-bottom: 150px;
}

/*/////////////////////////
GENERAL
//////////////////////////*/
h1,h3,p {
    text-align: center;
    color: #fff;
    font-family: 'Quicksand',sans-serif;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
}